.loadMoreBtn {
    width: 160px;
    height: 40px;
    color: #f0f8ff;
    font-size: 20px;
    background-color: #542bdb;
    box-shadow: 1px 1px 1px 1px rgba(35, 2, 2, 0.3);
    border-radius: 4px;
    border: none;
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}